body{
    margin: 0 10%;
}

/* section{
    height: 710px;
    margin-bottom: 100px;
} */

.section1{
    height: 550px;
    margin-bottom: 100px;
}

.menu-bar{
    float: right;
    /* margin-right: 10%; */
    margin-top: 10px;
}
.menu{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: rgba(27, 26, 26, 0.986);
}
.title{
    font-family: 'Oswald', sans-serif;
}

.regular-font{
    font-family: 'Poppins', sans-serif;
}
.head-title{
    font-weight: 700;
    font-size: 65px;
}

.common-button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border-radius: 7px;
}

.half-width{
    width: 50%;
    float: left;
}

.half-width img{
    width: 80%;
}

.project-area{
    margin-top: 250px;
}

.card-area{
    display: flex;
    width: 100%;
}

.card{
    width: 28%;
    box-shadow: 6px 4px 20px grey;
    margin-left: 27px;
    padding: 10px 20px;
    border-radius: 15px;
}
.card img{
    width: 100%;
}
.card h3{
    color: rgb(77 38 116);
}
.card p{
    font-size: 15px;
    color: gray;
}

.footer{
    background-image: url("shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 320px;
    margin: 180px 0px 150px 0px;
}

#inquiry{
        position: relative;
        top: 36%;
        font-family: 'Oswald';
        font-size: 65px;
        color: white;
        margin-left: 10%;
}

.chat{
    position: relative;
    left: 75%;
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    background: tomato;
    border-radius: 7px;
    font-size: 20px;
}

.contact-area{
    text-align: center;
    line-height: 0em;
    margin-bottom: 120px;
}

.contact-area h2{
    font-family: 'Oswald';
    color: gray;
    font-size: 31px;
}

.contact-area p{
    font-family: 'Poppins';
    font-size: 60px;
    color: #6e3a6e;
}

.icon{
    width: 6%;
    padding: 10px 20px;
}